<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaobao.mapper.TbMoneyMapper" >
  <resultMap id="BaseResultMap" type="com.xiaobao.pojo.TbMoney" >
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="reward" property="reward" jdbcType="DOUBLE" />
    <result column="bonus" property="bonus" jdbcType="DOUBLE" />
    <result column="releaseDate" property="releasedate" jdbcType="VARCHAR" />
    <result column="isRewardRelease" property="isrewardrelease" jdbcType="BIT" />
    <result column="isBonusRelease" property="isbonusrelease" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    name, mobile, reward, bonus, releaseDate, isRewardRelease, isBonusRelease
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaobao.pojo.TbMoneyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_money
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.xiaobao.pojo.TbMoneyExample" >
    delete from tb_money
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaobao.pojo.TbMoney" >
    insert into tb_money (name, mobile, reward, 
      bonus, releaseDate, isRewardRelease, 
      isBonusRelease)
    values (#{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{reward,jdbcType=DOUBLE}, 
      #{bonus,jdbcType=DOUBLE}, #{releasedate,jdbcType=VARCHAR}, #{isrewardrelease,jdbcType=BIT}, 
      #{isbonusrelease,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaobao.pojo.TbMoney" >
    insert into tb_money
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="reward != null" >
        reward,
      </if>
      <if test="bonus != null" >
        bonus,
      </if>
      <if test="releasedate != null" >
        releaseDate,
      </if>
      <if test="isrewardrelease != null" >
        isRewardRelease,
      </if>
      <if test="isbonusrelease != null" >
        isBonusRelease,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="reward != null" >
        #{reward,jdbcType=DOUBLE},
      </if>
      <if test="bonus != null" >
        #{bonus,jdbcType=DOUBLE},
      </if>
      <if test="releasedate != null" >
        #{releasedate,jdbcType=VARCHAR},
      </if>
      <if test="isrewardrelease != null" >
        #{isrewardrelease,jdbcType=BIT},
      </if>
      <if test="isbonusrelease != null" >
        #{isbonusrelease,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaobao.pojo.TbMoneyExample" resultType="java.lang.Integer" >
    select count(*) from tb_money
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_money
    <set >
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.reward != null" >
        reward = #{record.reward,jdbcType=DOUBLE},
      </if>
      <if test="record.bonus != null" >
        bonus = #{record.bonus,jdbcType=DOUBLE},
      </if>
      <if test="record.releasedate != null" >
        releaseDate = #{record.releasedate,jdbcType=VARCHAR},
      </if>
      <if test="record.isrewardrelease != null" >
        isRewardRelease = #{record.isrewardrelease,jdbcType=BIT},
      </if>
      <if test="record.isbonusrelease != null" >
        isBonusRelease = #{record.isbonusrelease,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_money
    set name = #{record.name,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      reward = #{record.reward,jdbcType=DOUBLE},
      bonus = #{record.bonus,jdbcType=DOUBLE},
      releaseDate = #{record.releasedate,jdbcType=VARCHAR},
      isRewardRelease = #{record.isrewardrelease,jdbcType=BIT},
      isBonusRelease = #{record.isbonusrelease,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>