<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaobao.mapper.TbOrderMapper" >
  <resultMap id="BaseResultMap" type="com.xiaobao.pojo.TbOrder" >
    <id column="orderId" property="orderid" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="orderCnt" property="ordercnt" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="investmentDate" property="investmentdate" jdbcType="VARCHAR" />
    <result column="bonus" property="bonus" jdbcType="DOUBLE" />
    <result column="reward" property="reward" jdbcType="DOUBLE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="rewardMonths" property="rewardmonths" jdbcType="INTEGER" />
    <result column="extraDays" property="extradays" jdbcType="INTEGER" />
    <result column="rewardDays" property="rewarddays" jdbcType="INTEGER" />
    <result column="daysAlready" property="daysalready" jdbcType="INTEGER" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="updateDate" property="updatedate" jdbcType="TIMESTAMP" />
    <result column="orderStatus" property="orderstatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderId, mobile, name, orderCnt, price, amount, investmentDate, bonus, reward, address, 
    remark, rewardMonths, extraDays, rewardDays, daysAlready, createDate, updateDate, 
    orderStatus
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaobao.pojo.TbOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where orderId = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_order
    where orderId = #{orderid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaobao.pojo.TbOrderExample" >
    delete from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaobao.pojo.TbOrder" >
    insert into tb_order (orderId, mobile, name, 
      orderCnt, price, amount, 
      investmentDate, bonus, reward, 
      address, remark, rewardMonths, 
      extraDays, rewardDays, daysAlready, 
      createDate, updateDate, orderStatus
      )
    values (#{orderid,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{ordercnt,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{amount,jdbcType=DOUBLE}, 
      #{investmentdate,jdbcType=VARCHAR}, #{bonus,jdbcType=DOUBLE}, #{reward,jdbcType=DOUBLE}, 
      #{address,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{rewardmonths,jdbcType=INTEGER}, 
      #{extradays,jdbcType=INTEGER}, #{rewarddays,jdbcType=INTEGER}, #{daysalready,jdbcType=INTEGER}, 
      #{createdate,jdbcType=TIMESTAMP}, #{updatedate,jdbcType=TIMESTAMP}, #{orderstatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaobao.pojo.TbOrder" >
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="ordercnt != null" >
        orderCnt,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="investmentdate != null" >
        investmentDate,
      </if>
      <if test="bonus != null" >
        bonus,
      </if>
      <if test="reward != null" >
        reward,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="rewardmonths != null" >
        rewardMonths,
      </if>
      <if test="extradays != null" >
        extraDays,
      </if>
      <if test="rewarddays != null" >
        rewardDays,
      </if>
      <if test="daysalready != null" >
        daysAlready,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
      <if test="orderstatus != null" >
        orderStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ordercnt != null" >
        #{ordercnt,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="investmentdate != null" >
        #{investmentdate,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null" >
        #{bonus,jdbcType=DOUBLE},
      </if>
      <if test="reward != null" >
        #{reward,jdbcType=DOUBLE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardmonths != null" >
        #{rewardmonths,jdbcType=INTEGER},
      </if>
      <if test="extradays != null" >
        #{extradays,jdbcType=INTEGER},
      </if>
      <if test="rewarddays != null" >
        #{rewarddays,jdbcType=INTEGER},
      </if>
      <if test="daysalready != null" >
        #{daysalready,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaobao.pojo.TbOrderExample" resultType="java.lang.Integer" >
    select count(*) from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_order
    <set >
      <if test="record.orderid != null" >
        orderId = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.ordercnt != null" >
        orderCnt = #{record.ordercnt,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.investmentdate != null" >
        investmentDate = #{record.investmentdate,jdbcType=VARCHAR},
      </if>
      <if test="record.bonus != null" >
        bonus = #{record.bonus,jdbcType=DOUBLE},
      </if>
      <if test="record.reward != null" >
        reward = #{record.reward,jdbcType=DOUBLE},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.rewardmonths != null" >
        rewardMonths = #{record.rewardmonths,jdbcType=INTEGER},
      </if>
      <if test="record.extradays != null" >
        extraDays = #{record.extradays,jdbcType=INTEGER},
      </if>
      <if test="record.rewarddays != null" >
        rewardDays = #{record.rewarddays,jdbcType=INTEGER},
      </if>
      <if test="record.daysalready != null" >
        daysAlready = #{record.daysalready,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedate != null" >
        updateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderstatus != null" >
        orderStatus = #{record.orderstatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_order
    set orderId = #{record.orderid,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      orderCnt = #{record.ordercnt,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DOUBLE},
      amount = #{record.amount,jdbcType=DOUBLE},
      investmentDate = #{record.investmentdate,jdbcType=VARCHAR},
      bonus = #{record.bonus,jdbcType=DOUBLE},
      reward = #{record.reward,jdbcType=DOUBLE},
      address = #{record.address,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      rewardMonths = #{record.rewardmonths,jdbcType=INTEGER},
      extraDays = #{record.extradays,jdbcType=INTEGER},
      rewardDays = #{record.rewarddays,jdbcType=INTEGER},
      daysAlready = #{record.daysalready,jdbcType=INTEGER},
      createDate = #{record.createdate,jdbcType=TIMESTAMP},
      updateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      orderStatus = #{record.orderstatus,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaobao.pojo.TbOrder" >
    update tb_order
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ordercnt != null" >
        orderCnt = #{ordercnt,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="investmentdate != null" >
        investmentDate = #{investmentdate,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null" >
        bonus = #{bonus,jdbcType=DOUBLE},
      </if>
      <if test="reward != null" >
        reward = #{reward,jdbcType=DOUBLE},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rewardmonths != null" >
        rewardMonths = #{rewardmonths,jdbcType=INTEGER},
      </if>
      <if test="extradays != null" >
        extraDays = #{extradays,jdbcType=INTEGER},
      </if>
      <if test="rewarddays != null" >
        rewardDays = #{rewarddays,jdbcType=INTEGER},
      </if>
      <if test="daysalready != null" >
        daysAlready = #{daysalready,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderstatus != null" >
        orderStatus = #{orderstatus,jdbcType=TINYINT},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaobao.pojo.TbOrder" >
    update tb_order
    set mobile = #{mobile,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      orderCnt = #{ordercnt,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      amount = #{amount,jdbcType=DOUBLE},
      investmentDate = #{investmentdate,jdbcType=VARCHAR},
      bonus = #{bonus,jdbcType=DOUBLE},
      reward = #{reward,jdbcType=DOUBLE},
      address = #{address,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      rewardMonths = #{rewardmonths,jdbcType=INTEGER},
      extraDays = #{extradays,jdbcType=INTEGER},
      rewardDays = #{rewarddays,jdbcType=INTEGER},
      daysAlready = #{daysalready,jdbcType=INTEGER},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateDate = #{updatedate,jdbcType=TIMESTAMP},
      orderStatus = #{orderstatus,jdbcType=TINYINT}
    where orderId = #{orderid,jdbcType=VARCHAR}
  </update>
</mapper>